/* _content/Vitec.WebPos.Shared.Ui/Pages/Sale/Components/SaleSelector.razor.rz.scp.css */
.selector-container[b-vpmmb768o8] {
    margin-bottom: 0px;
}
/* _content/Vitec.WebPos.Shared.Ui/Pages/Sale/Components/SearchBar.razor.rz.scp.css */
.search-container[b-bjxfteeufd] {
    margin-top: -1rem;
}
/* _content/Vitec.WebPos.Shared.Ui/Pages/Sale/Components/Simulation.razor.rz.scp.css */
.simulation-container[b-s1m98mq4b2] {
    margin-bottom: 10px;
}
/* _content/Vitec.WebPos.Shared.Ui/Shared/Components/NavMenu.razor.rz.scp.css */
/* _content/Vitec.WebPos.Shared.Ui/Shared/MainLayout.razor.rz.scp.css */
.menu-container[b-r9bej7axub] {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.content-container[b-r9bej7axub] {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
