/* _content/Vitec.WebPos.Shared.Ui/Pages/Sale/Components/SaleSelector.razor.rz.scp.css */
.selector-container[b-87q4hi3l0d] {
    margin-bottom: 0px;
}
/* _content/Vitec.WebPos.Shared.Ui/Pages/Sale/Components/SearchBar.razor.rz.scp.css */
.search-container[b-083iltg9wx] {
    margin-top: -1rem;
}
/* _content/Vitec.WebPos.Shared.Ui/Pages/Sale/Components/Simulation.razor.rz.scp.css */
.simulation-container[b-sx2c1grmz5] {
    margin-bottom: 10px;
}
/* _content/Vitec.WebPos.Shared.Ui/Shared/Components/NavMenu.razor.rz.scp.css */
.container[b-vmzhpafexi] {
    background-color: #ffffff;
    padding: 10px;
    width: 70px;
    height: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

@media screen and (max-width: 768px) {
    .container[b-vmzhpafexi] {
        width: 100%;
        height: auto;
        flex-direction: row;
        gap: 0;
        padding: 0.8rem 0.5rem 0.5rem 0.5rem;
        gap: 0.6rem;
    }
}
/* _content/Vitec.WebPos.Shared.Ui/Shared/MainLayout.razor.rz.scp.css */
.menu-container[b-by44z6qspa] {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.content-container[b-by44z6qspa] {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
